<h2>Lista de Camisetas</h2>
<div class="container mt-4">
  <div class="row">
    <!-- Camisetas dinámicas -->


    <div *ngFor="let shirt of shirts" class="col-sm-6 col-md-4 mb-4">
      <div class="card h-100 text-center" [ngClass]="{'clearance' : shirt.clearance}">

        <div class="position-relative">
          <img [src]="shirt.image" [alt]="shirt.name" class="product-img img-thumbnail w-100">

          <span *ngIf="shirt.stock == 0" class="badge-sin-stock">SIN STOCK</span>
        </div>

        <div class="card-body">
          <span *ngIf="shirt.installments > 0" class="badge-cuotas">
            {{shirt.installments}} CUOTAS SIN INTERÉS
          </span>

          <h5 class="card-title">{{ shirt.name | titlecase }}</h5>
          <p class="card-text">Temporada {{ shirt.season }}</p>
          <p class="card-text text-dark fw-bold fs-4">{{ shirt.price | currency }}</p>

          <app-input-number [(amount)]="shirt.amount" [max]="shirt.stock" *ngIf="shirt.stock > 0" (maxReached)="maxReached($event)"></app-input-number>
          
        </div>

      </div>
    </div>


  </div>
</div>