<nav class="navbar navbar-expand navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sign-up']">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


<footer>
  <p>{{title}} 2025</p>
  <p></p>
</footer>